<div class="loginwrapper text-center">
  <div class="container login-container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h1 class="text-black">ログイン</h1>
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "text-black" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "text-black" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit 'ログイン', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
