<div class="post-index-wrapper">
  <div class="container">
        <div class="p-4 mt-4 search-form border bg-red">
          <h4><b>検索</b></h4>
          <%= search_form_for @q do |f| %>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :"店名" %>
              <%= f.search_field :name_cont, class: 'form-control' %>
            </div>
            <div class="col-md-6">
              <%= f.label :"住所" %>
              <%= f.search_field :address_cont, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="mt-3 col-md-6">
              <%= f.label :"麺の種類" %>
              <%= f.select :noodle_eq, ["極太麺", "太麺", "中太麺", "細麺"],
              {include_blank: "全て"}, class: 'form-control' %>
            </div>
            <div class="mt-3 col-md-6">
              <%= f.label :"スープの種類" %>
              <%= f.select :soup_eq, ["濃厚", "普通", "あっさり"],
              {include_blank: "全て"}, class: 'form-control' %>
            </div>
          </div>
          <%= f.submit "検索", class: "my-4 offset-md-4 col-sm-4 btn btn-dark"%>
          <% end %>
        </div>
        <div class="row">
      <% @posts.each do |post| %>
          <div class="col-6 post-index">
              <div class="post-index-single">
                <h2 class="post-author">
                  <%= link_to post.name, post_path(post) %>
                </h2>
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image.url %>
                <% end %>
                <% if logged_in? %>
                  <div id='likes_buttons_<%= post.id %>'>
                    <%= render partial: 'favorites/favorite', locals: { post: post } %>
                  </div>
                <% end %>
                <div class="post-index-des">
                  <p><b>投稿者</b><%= post.user.name %></p>
                  <p><b>店名</b><%= post.name %> </p>
                  <p><b>麺</b><%= post.noodle %></p>
                  <p><b>スープ</b><%= post.soup %></p>
                  <p><b>所在地</b><%= post.address %></p>
                </div>
                <h5 class="post-index-text-title"><b>コメント</b></h5>
                <div class="post-index-text">
                  <p><%= simple_format(post.description) %></p>
                </div>
              </div>
          </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>
