<div class="post-index-wrapper">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
          <div class="h-100 offset-md-1 col-md-3 border">
            <div class="post-index-single">
              <h2 class="post-author">
                <%= link_to post.user.name, user_path(id: post.user.id) %>
              </h2>
              <%= link_to post_path(post) do %>
                <%= image_tag post.image.url %>
              <% end %>
              <% if logged_in? %>
                <% if !post.favorite_users.include?(current_user) %>
                  <%= link_to favorites_path(post_id: post.id), method: :post do %>
                    <%= image_tag 'icons/heart-black.png', class: 'post-index-icon' %>
                  <% end %>
                <% else %>
                  <%= link_to favorites_path(post_id: post.id), method: :delete  do %>
                    <%= image_tag 'icons/heart-red.png', class: 'post-index-icon' %>
                  <% end %>
                <% end %>
                <%= post.favorite_users.count %>
                <%= image_tag 'icons/comment.png', class: 'post-index-icon' %>
                <% end %>
              <div class="post-des">
                <p>投稿者: <%= post.user.name %></p>
                <p>店名: </p>
                <p>所在地: <%= post.address %></p>
              </div>
              <p class="post-text">
                <%= simple_format(post.description) %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
