<div class="show-wrapper">
  <div class="container show-container">
      <h2 class="post-show-name"><%= @post.name %></h2>
    <div class="row show-row">
      <div class="col-md-6">
        <div class="post-show-image">
          <%= image_tag @post.image.url %>
          <% if logged_in? %>
            <% if !@post.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(post_id: @post.id), method: :post  do %>
                <%= image_tag 'icons/heart-black.png', class: 'post-show-icon' %>
              <% end %>
            <% else %>
              <%= link_to favorites_path(post_id: @post.id), method: :delete  do %>
                <%= image_tag 'icons/heart-red.png', class: 'post-show-icon' %>
              <% end %>
            <% end %>
            <%= @post.favorite_users.count %>
            <%= image_tag 'icons/comment.png', class: 'post-show-icon' %>
          <% end %>
        </div>
        <% if logged_in? %>
          <% if current_user.id == @post.user.id %>
            <div class="post-show-item">
              <button type="btn" class="btn btn-info"><%= link_to '編集', edit_post_path(@post), class: "text-white"%></button>
              <button type="btn" class="btn btn-danger"><%= link_to '削除', post_path, method: :delete, data: { confirm: "投稿を削除しますか", cancel: "やめる", commit: "削除する"}, title: "削除確認", class: "text-white" %></button>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="post-show-des">
          <p><b>投稿者</b>: <%= @post.user.name %></p>
          <p><b>麺</b>: <%= @post.noodle %></p>
          <p><b>スープ</b>: <%= @post.soup %></p>
          <p><b>所在地</b>: <%= @post.address %></p>
        </div>
      </div>
    </div>
    <div class="row show-row">
      <div class="offset-md-1 col-md-10">
        <h2>店の住所</h2>
        <div style='width: 100%;'>
          <div id="map" style='width: 100%; height: 600px;'></div>
        </div>

        <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
            {
              "lat": <%= @post.latitude %>,
              "lng": <%= @post.longitude %>,
              "picture": {
                "width":  32,
                "height": 32
              },
              "infowindow": '<%= @post.address %>'
            }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(15);
          });
        </script>
      </div>
    </div>
  </div>
</div>
