<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark fixed-top ">
      <%= link_to root_path do %>
        <span><%= image_tag 'images.png', class: "navbar-brand" %></span>
      <% end %>
      <ul class= "nav navbar navbar-right">
        <li class="navbar-text">
          <%= link_to "Posts", posts_path %>
        </li>
      <% if logged_in? %>
        <li class="navbar-text">
          <%= link_to "Favorites", favorites_index_path %>
        </li>
        <li class= "navbar-text">
          <%= link_to "Users", users_path %>
        </li>
        <li class="navbar-text">
          <%= link_to "CreatePost", new_post_path %>
        </li>
        <li class="navbar-text">　
          <%= link_to "Edit", edit_user_path(current_user) %>
        </li>
        <li class="navbar-text">
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
        <li class="navbar-text current_user">
          <%= link_to current_user.name, user_path(current_user) %>
        </li>
      <% else %>
        <li class="navbar-text">
          <%= link_to "Signup", new_user_path %>
        </li>
        <li class="navbar-text">
          <%= link_to "Login", login_path %>
        </li>
      <% end %>
      </ul>

    </nav>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
